* {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: Arial;
}

body {
	background-repeat: no-repeat;
	background: #071522;
}

#wrap {
	margin: 0 auto;
	width: 960px;
}

header {
	width: 100%;
}

nav {
	width: 100%;
	border-top: 1px solid #1A2735;
	border-bottom: 1px solid #1A2735;
}

nav ul.menu {
	list-style: none;
}

nav .menu li {
	list-style: none;
	display: inline-block;
}

nav .menu li a {
	display: inline-block;
	margin: 0;
	padding: 10px 15px 15px 15px;
	color: #fff;
	font-size: 18px;
	text-decoration: none;
}

nav .menu li a span {
	display: block;
	color: #67707A;
}

nav .menu li a:hover {
	background: #023;
}

#content {
	display: inline-block;
	width: 960px;
	min-height: 200px;
}

footer {
	width: 960px;
	color: #fff;
	background: #000;
}

footer h3 {
	padding: 10px;
}

/*##########
 ESTILOS DE INGRESAR A DLI
##########*/

.info {
	margin: 50px 0 0 0;
	float: left;
	width: 450px;
}

.info p {
	color: #fff;
	font-size: 15px;
	text-align: justify;
}

.info a.registrarse {
	display: block;
	margin: 20px 0 0 0;
	padding: 10px;
	width: 80%;
	color: #fff;
	background: green;
	border: 1px solid green;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
}

.new-session {
	margin: 50px 0 0 60px;
	float: left;
	width: 450px;
}

#new-session-form {
	margin-left: 20px;
}

#new-session-form .field input { 
	width: 70%;
}

.field {
	margin: 0 0 10px 0;
	width: 100%;
}

.field label {
	display: inline-block;
	width: 220px;
	color: #fff;
}

.field input[type=text],
.field input[type=password] {
	padding: 10px;
	border: 1px solid #ccc;
}

input[type=submit] {
	padding: 10px 25px;
	width: 40% !important;
	border: 1px solid green;
	color: #fff;
	background: green;
	cursor: pointer;
}

input[type=submit]:hover {
	background: #01b201;
}

/*##########
 ESTILOS DE REGISTRARSE
##########*/

.wrap-form {
	margin: 50px auto;
	padding: 0;
	width: 400px;
}

/*##########
 ESTILOS DEL TEST
##########*/

.wrap-test {
	display: block;
	padding: 20px;
	background: #aaa;
}

.item {
	display: inline-block;
	margin: 15px 0;
	width: 100%;
}

.item .question {
	display: block;
	margin: 0 0 10px 0;
}

.item .question p {
	color: #000;
	font-size: 14px;
	font-weight: bold;
}

.item .options {
	display: block;
}

.item .options input {
	display: inline-block;
}

.item .options label {
	display: inline-block;
	width: 97%;
}

/*##########
 ESTILOS DEL TEST
##########*/

#resultado {
	margin: 15px 0 0 0;
}